.BoxForm {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: rgba(207, 206, 206, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(34, 34, 34, 0.5);
    border-radius: 10px;
   
  }
  
  .GrupoForm{
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  input{
    padding: 8px;
  }
  
  .BoxForm label {
  
    padding: 0;
    color: #000000;
    text-align: center;
  }
  .BoxForm p{
    color: rgb(238, 85, 85);
    font-size: 13px;
    margin: 0px;
  }