
.tabla {
  box-shadow: 1px 9px 18px rgb(138, 123, 123);
  border-collapse: collapse;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.tabla th,
.tabla td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.tabla thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.tabla tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla td > div {
  display: flex;
  align-items: center;
}

.tabla td input[type="text"] {
  width: 100%;
  border: grey 1px solid;
  border-radius:30px;
  padding: 10px;
}
.Editar{
  font-size: 20px;
}
.EditContainer{
gap: 3px;
  display: flex;
  min-width: 130px;
  max-width: 210px;
}
.DatosUser{
  border-bottom: 1px solid grey;
}